.top-stories-heading{
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
}
.last-week-stories{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 24px;
  display: inline-block;
}
.right-side-blogtitle{
  font-size: .80rem;
}
.left-side-blogtitle{
  font-size: 1rem;
}
.left-side-blogbody{
  font-size: 12px;
}
.author{
  font-size: 12px;
  font-style: italic;
}
